
.header {
  background-color: #00274d;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo a {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav ul li {
  font-size: 1rem;
}

.nav ul li a {
  color: white;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  transition: color 0.3s ease;
}

.nav ul li a:hover {
  color: #f8c146; 
}

.actions {
  display: flex;
  align-items: center;
  gap: 15px;
}


.loginButton {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 5px 10px;
  background-color: #f8c146;
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.loginButton:hover {
  background-color: white;
  color: #00274d;
}

.userIcon {
  margin-right: 5px;
}

@media (max-width: 768px) {
  .nav ul {
    flex-direction: column;
    gap: 10px;
  }

  .container {
    flex-direction: column;
  }
}
