/* Base Styles */


.toggleContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.toggleButton {
  background: none;
  border: none;
  color:black;
  font-size: 1.3rem;
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  position: relative;
  transition: all 0.3s ease;
}

.toggleButton:hover {
  color: #3b82f6;
}

.toggleButton::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #3b82f6;
  transition: width 0.3s ease;
}

.toggleButton:hover::after {
  width: 100%;
}

.switchContainer {
  text-align: center;
  margin-top: 1.5rem;
  padding: 1rem;
}

.switchButton {
  color: #3b82f6;
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
  background: none;
  border: none;
  padding: 0;
}